h1{
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    margin: 50px auto;
    font-family: sans-serif;
    width: 200px;
    background-color: blue;
}

img {
    width: 200px;
    display: block;
    margin: auto;
}

p {
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 160%;
}